@import url('https://fonts.googleapis.com/css?family=Bungee Shade|Fredericka the Great|Black Ops One|Patrick Hand SC:300,400,500,600,700,800,900');

.showcase{
    width: 100%;
    height: 100%;
    position: relative;
}

.showcase video{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.title{
    width: 100%;
    height: 100%;
    background-color: #252525;
    font-size: 100px;
    color: #fff;
    mix-blend-mode: multiply;
    text-align: center;
    font-family: 'Fredericka the Great';
}